<div class="row bg-offwhite padded shadow-sm fill">

    <div class="col-10">
        <% if classroom.private %>
            <h5 class="top-space-sm bg-sunshine text-center rounded">PRIVATE CLASSROOM</h5>
        <% end %>
        <% if logged_in? %>
            <% if current_user.enrolled_in?(classroom) or current_user.classrooms.include?(classroom) %>
                <h4><%= link_to classroom.name, user_classroom_path(classroom.professor, classroom) %></h4>
            <% else %>
                <h4><%= classroom.name %></h4>
            <% end %>
        <% else %>
            <h4><%= classroom.name %></h4>
        <% end %>
        <h6>Professor: <%= link_to classroom.professor.name, user_path(classroom.professor), class: "link-plain-hover link-bluegray-hover"%></h6>
        <%= render 'tag_types/list_types', tag_types: classroom.tag_types %>
        
    </div>

    <div class="col-2">
        <% if logged_in? and current_user != classroom.professor %>
            <div class="d-flex fill justify-content-center align-items-center">
                <%= render 'components/add_button', small: false, user: current_user, classroom: classroom, enrolled: current_user.enrolled_in?(classroom) , enrolled_color: 'bg-aqua', not_enrolled_color: ''%>
            </div>
        <% end %>
    </div>
    

</div>