<%= form_for(topic) do |f| %>
    <div class="form-group">
        <%= f.submit "Publish Topic", class: "btn btn-primary bg-lavender border-lavender" %>
        <%= delete_text_button(topic_path(topic), "charcoal") if editing?(topic) %>
    </div>
    
    <div class="form-group">
        <%= f.text_field :title, placeholder: "Title", class: "form-control" %>
        <%= error_msg_for(topic, :title).html_safe %>
    </div>
    <div class="form-row">
        <%= f.fields_for :tags do |t| %>       
            <div class="col-3">
                <%= t.text_field :tag_type_name, class: 'form-control tag-boxes', placeholder: "Tag", list: 'tag-name' %>
            </div>
            <datalist id="tag-name">
                <% @tag_types.each do |tag_type| %>
                    <option value="<%= tag_type.name %>"></option>
                <% end %>
            </datalist>
        <% end %>

        <%= error_msg_for(@error, :name).html_safe unless @error.nil? %>
    </div>
    <div class="form-group topic-content-wrapper">
        <%= f.text_area :content, class: "form-control topic-content", placeholder: "Content" %>
        <%= error_msg_for(topic, :content).html_safe %>
    </div>
    
<% end %>