<% if logged_in? %>
    <div class="row">
        <div class="col-sm-3">
            <p class="inline js-summary-reaction-parent"><%= genius(topic) %></p>
        </div>
        <div class="col-sm-3">
            <p class="inline js-summary-reaction-parent"><%= likes(topic) %></p>
        </div>
        <div class="col-sm-3">
            <p class="inline js-summary-reaction-parent"><%= dislikes(topic) %></p>
        </div>
        <div class="col-sm-3">
            <p class="inline js-summary-reaction-parent"><%= save_topic_button(topic) %></p>
        </div>
    </div>
<% else %>
    <div class="row">    
        <div class="col-sm-4">
        <p class="inline"><%= genius(topic) %></p>
        </div>
        <div class="col-sm-4">
            <p class="inline"><%= likes(topic) %></p>
        </div>
        <div class="col-sm-4">
            <p class="inline"><%= dislikes(topic) %></p>
        </div>
    </div>
<% end %>