<div class="row">
    <div class="col-sm-1 sticky-holder">
        <div class="sticky-sidebar after-navbar">
            <%=link_to(likes(@topic, 'whitesmoke', 'whitesmoke'), "/#", :'data-method' => "post") %>
            <%=link_to(genius(@topic, 'whitesmoke', 'whitesmoke'), "/#", :'data-method' => "post") %>
            <%=link_to(dislikes(@topic, 'whitesmoke', 'whitesmoke'), "/#", :'data-method' => "post") %>
            <%=link_to("Report", "/#", class: "color-whitesmoke") %>
        </div>
    </div>
    <div class="col-sm-10 ">
        <div class="markdown-holder bg-offwhite">
            <h1 class="center topic-title"><%= @topic.title %></h1>
            <p class="author-time"><small></small><%= link_to @topic.user.name, user_path(@topic.user) %><small>, <%= display_date_long(@topic.created_at)%></small> </p>
            <div class="topic-tags">
            <ul class="topic-tag-list d-flex justify-content-start">
                <% @topic.tag_types.each do |t| %>
                    <li class="tag"><%= t.name %>  </li>
                <% end %>
            </ul>
            </div>
            <%= edit_text_button(edit_topic_path(@topic), "aqua") if @topic.user == current_user %>
            <hr>

            <%= render_markdown(@topic.content) %>
        </div>

        
            <% @topic.posts.each do |post| %>
                <div class="row">
                    <div class="col-sm-11"> 
                        <%= render 'posts/post', post: post %>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <% retrieve_replies(post).each do |inner_post|%>
                    <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-11"> 
                        <%= render 'posts/post', post: inner_post, inner?: true %>
                    </div>
                </div>
                <% end %>
            <% end %>
            
    </div>
    <div class="col-sm-1"></div>
</div>

