
<%= render('classrooms/routing_buttons', classroom: @classroom) unless @classroom.nil? %>
<div class="row">
    <%= topic_options(@topic) %>

    <div class="col-sm-10 js-topic-show-container">
        <div class="markdown-holder bg-offwhite js-topic-container" id="js-topic-<%= @topic.id%>">

            <%= topic_report_dropdown(@topic) %>

            <h1 class="center topic-title"><%= @topic.title %></h1>
            <p class="author-time"><small><%= render( 'users/follow_user_button', user: @topic.user, following_color: "bg-aqua", not_following_color: "bg-offwhite border", followed: current_user.following?(@topic.user), small: true) if logged_in?%></small><%= link_to @topic.user.name, user_path(@topic.user) %><small>, <%= display_date_long(@topic.created_at)%></small> </p>
            <div class="topic-tags">
                <ul class="topic-tag-list d-flex justify-content-start">
                    <% @topic.tag_types.each do |t| %>
                        <li class="tag"><%= t.name %>  </li>
                    <% end %>
                </ul>
            </div>
            <%= edit_text_button(@edit_path, "aqua") if @topic.user == current_user %>
            <hr>
            
            <%= render_markdown(@topic.content) %>
        </div>

        
        
        <div class="row bottom-padding-md" id="js-topic-<%=@topic.id %>-reply-button">
            <div class="col-sm-12">
                <%= render('topics/reply_button', topic: @topic) if (logged_in? and @post.nil?) %>
                <%= render('topics/add_post', post: @post) if (logged_in? and !@post.nil? )%>
            </div>
        </div>
        <div id="topic-<%= @topic.id%>-replies" class="js-topic-replies pagination-data-container">
            <% @topic.ordered_posts.each do |post| %>
                <div class="row">
                    <div class="col-sm-11"> 
                        <%= render 'posts/post', post: post %>
                    </div>
                    <div class="col-sm-1"></div>
                </div>
                <div id="js-post-<%= post.id %>-reply-container"></div>
                <% if ((num = post.nested_replies.length) > 0) %>
                    <%= render 'components/view_post_replies_btn', post: post, num_nested_replies: num%>
                <% end %>
            <% end %>
        </div>
    </div>
    <nav class="post-pagination bottom-space-lg">
        <a id="newer-newest-posts" data-offset="0" data-perpage="25" class="btn btn-outline-secondary nextBtn disabled" onclick="postPaginate(this)">Newer</a>
        <a id="older-newest-posts" data-offset="5" data-perpage="25" class="btn btn-outline-primary prevBtn" onclick="postPaginate(this)" >Older</a>
    </nav>
    <div class="col-sm-1"></div>
</div>

<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>

