  <div class="row">
        <div class="col-md-4">
            <div>
                <a class="btn btn-<%= 'outline-' unless selected == :followers %>info btn-block" href="<%= followers_path %>" role="button"><%= "Followers (#{user.followers.length})"%></a>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <a class="btn btn-<%= 'outline-' unless selected == :following %>info btn-block" href="<%= following_path %> " role="button"><%= "Following (#{user.following.length})" %></a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bottom-space-md">
                <a class="btn btn-<%= 'outline-' unless selected == :topics %>info btn-block" href="<%= user_topics_path(user) %>" role="button"><%= "Published Topics (#{user.topics.length})" %></a>
            </div>
        </div>
    </div>