<div class="dashboard-font">
    <h6>Good <%= time_of_day%>, <%= @user.name %></h6>
    <div class="row">
        <div class="col-lg-3">
            <div class="bg-offwhite padded rounded small-text border bottom-space-md">
                <h5>Info</h5>
                <p><strong>Email:</strong> <%= @user.email%></p>
                <p><strong><%= "Bio:" unless @user.bio.blank? %></strong></p>
                <p><%= @user.bio  %></p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="full-height justify-content-center no-margin">
                <div class="bg-charcoal bottom-space-md color-light-gp padded rounded d-flex justify-content-around align-items-center">
                    <h2 class="">Your Stats</h2>
                    <div class="stats-container">
                        <p><%= pluralize @user.topics.length, "Published topic" %></p>
                        <p><%= pluralize @user.posts.length, "Total post" %></p>
                        <p><%= pluralize @user.total_views, "Total view" %></p>
                        <p><%= pluralize @user.total_topic_reactions, "Reaction" %> to your topics</p>
                        <p><%= pluralize @user.total_post_reactions, "Reaction" %> to your posts</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="bottom-space-md d-flex justify-content-center">
                <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://i.imgur.com/JkzJkzM.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title"><%= @user.name%></h5>
                    <p class="card-text">
                        <ul class="no-padding no-margin">
                            <% @user.tag_types.each do |tag| %>
                                <li class="tag-small"><%= tag%></li>
                            <% end %>
                        </ul>
                    </p>


                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Social Media 1<a href="#" class="btn btn-sm btn-primary">Social Media 1</a></li>
                        <li class="list-group-item">Social Media 2<a href="#" class="btn btn-sm btn-primary">Social Media 2</a></li>
                        <li class="list-group-item">Social Media 3<a href="#" class="btn btn-sm btn-primary">Social Media 3</a></li>
                    </ul>
                </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-4">
            <div>
                <a class="btn btn-outline-info btn-block" href="<%= followers_path %>" role="button"><%= "Followers (#{@user.followers.length})"%></a>
            </div>
        </div>

        <div class="col-md-4">
            <div>
                <a class="btn btn-outline-info btn-block" href="<%= following_path %> " role="button"><%= "Following (#{@user.following.length})" %></a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bottom-space-md">
                <a class="btn btn-outline-info btn-block" href="<%= user_topics_path(@user) %>" role="button"><%= "Published Topics (#{@user.topics.length})" %></a>
            </div>
        </div>
    </div>





    <div class="row">
        <div class="col-md-1">
            <div>

            </div>
        </div>

        <div class="col-md-10">
            <%= stat_object("Most Recently Published", @user.most_recent_topics(1).first) %>
            <%= stat_object("Most Liked Topic", @user.most_liked_topics(1).first) %>
            <%= stat_object("Most Viewed Topic", @user.most_viewed_topics(1).first, :views) %>
            <%= stat_object("Most Liked Post", @user.most_liked_posts(1).first) %>
            <%= render('users/spec_title', title: "You don't have any posts yet!") if @user.posts.length == 0%>
            <div class="color-aqua bg-offwhite border shadow-sm padded">
                <% if @user.posts.length > 0 %>
                    <h5>Recent Comments</h5>
                <% end %>
                <div class="color-charcoal">
                    <% @user.most_recent_posts.each do |post| %>
                        <div class="bottom-space-sm">
                            <%= render 'posts/summary', post: post%>
                        </div>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="col-md-1">
        </div>
    </div>

    <div style="height: 50px;"></div>


</div>