<div class="row">
    <div class="col-sm-1">
        <div class="">
        </div>
    </div>
    <div class="col-sm-10">
        <div class="row border bg-offwhite shadow-sm padded">
            <div class="col-md-3">

                <div class="fill d-flex image-flex align-items-center justify-content-middle flex-direction-col">

                    <div class="rounded-circle shadow">
                        <%= render "users/profile_avatar", user: @user%>
                    </div>
                    <h6>Contact</h6>
                    <div class="justify-content-left">
                        <div class="bottom-space-sm">
                            <%= render('users/contact_info', type: "Email", info: @user.email, link: false) if @user.display_email %>
                        </div>
                        <div class="d-flex justify-content-around bottom-space-md">
                            <%= render('users/social_media', type: :facebook, url: @user.facebook_url) if @user.facebook_url  %>
                            <%= render('users/social_media', type: :github, url: @user.github_url) if @user.github_url  %>
                            <%= render('users/social_media', type: :linkedin, url: @user.github_url) if @user.linkedin_url  %>
                        </div>
                    </div>
                </div>

            
            </div>   
            <div class="col-md-8">
                <div class="d-flex align-center justify-content-center fill flex-direction-col">
                    <h1 class="profile-namecolor-charcoal bold primary-text align-self-center"><%= @user.name %></h1>
                    <p class="color-charcoal small-text thin-text"><strong></strong><%= @user.bio %></p>
                </div>            
            </div> 
            <div class="col-md-1">

                <div class="fill d-flex align-center justify-content-around flex-direction-col">
                    <%= render('users/follow_user_button', small: false, user: @user, following_color: "bg-aqua", not_following_color: "bg-offwhite border", followed: current_user.following?(@user)) if @logged_in %>
                    <%= render('components/message_button', small: false, user: @user) if @logged_in %>
                </div>
            </div>   
        </div>


        
        <%= render_unless_nil 'components/row_decorator', title: nil, shadow: true, path: 'users/profile_tags', args: {tag_types: @user.tag_types} %>
        <%= render 'components/row_decorator', title: nil, bg_color: '', shadow: false, path: 'users/profile_stats', args: { user: @user } %>
        
        
        <% if @user.classrooms.length != 0 or @user.enrolled_classes.length != 0 %>
            <div class="row bottom-space-md">
                <div class="col-sm-1"></div>
                <div class="col-sm-5">
                    <%= render 'classrooms/list', classrooms: @user.classrooms, title: "Professor for" %>
                        
                </div>
                <div class="col-sm-5">
                    <%= render 'classrooms/list', classrooms: @user.enrolled_classes, title: "Enrolled Classes" %> 
                </div>
                <div class="col-sm-1"></div>
            
            </div>

        <% end %>
        
        
        
        
        <%= render_unless_nil 'components/row_decorator', title: "Most reacted post", path: 'topics/summary_view', args: {topic: @user.most_reacted_topics(3).first} %>
        <% if @user.topics.length > 0 %>
            <div class="bottom-space-md">
                <h6>Recently Authored</h6>
                <% @user.topics.take(5).each do |topic| %>
                    <%= render_unless_nil 'components/row_decorator', title: nil, path: 'topics/summary_view', args: { topic: topic } %>
                <% end %>
                <a class="btn btn-outline-info btn-block" href="<%= user_topics_path(@user) %>" role="button"><%= "All Published Topics (#{@user.topics.length})" %></a>
            </div>
        <% end %>

        
        <% if @user.posts.length > 0 %>
            <div class="color-aqua bg-offwhite border shadow-sm padded bottom-space-md">
            
                <h5>Recent Comments</h5>
            
                <div class="color-charcoal">
                    <% @user.most_recent_posts.each do |post| %>
                        <div class="bottom-space-sm">
                            <%= render 'posts/summary', post: post%>
                        </div>
                    <% end %>
                </div>
            
            </div>
        <% end %>

    </div>
    <div class="col-sm-1">
        <div class="">
            
        </div>
    </div>
</div>