{{#if post_reply}}<div class="col-sm-1"></div>{{/if}}
<div class="col-sm-11">
    <div class="markdown-holder bg-offwhite post-container" id="post-{{id}}">
        <p><a href="/users/{{author.id}}">{{author.name}}</a>
        <small class="faded-text">{{post_time}}{{#if edited}} ::  edited {{edit_time}} {{/if}} </small></p>
        <hr>
        {{> posts/_content }}
        {{> posts/_reactions}}
    </div>
</div>
{{#unless post_reply}}<div class="col-sm-1"></div>{{/unless}}

