<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="nav-link" href="<%= dashboard_path %>">Dashboard<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <% if (new_messages = current_user.new_messages.length) > 0 %>
                <a class="nav-link border-sunshine rounded" href="<%= inbox_path %>">Messages (<%= new_messages %>)</a>
            <% else %>
                <a class="nav-link" href="<%= inbox_path %>">Messages</a>
            <% end %>
        </li>
        <li class="nav-item">
            <% if (new_notifications = current_user.new_notifications.length) > 0 %>
                <a class="nav-link border-sunshine rounded" href="<%= user_notifications_path(current_user) %>">Notifications (<%= new_notifications %>)</a>
            <% else %>
                <a class="nav-link" href="<%= user_notifications_path(current_user) %>">Notifications</a>
            <% end %>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= current_user.name%>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="<%= user_path(current_user)%>">Public Profile</a>
                <a class="dropdown-item" href="<%= new_user_topic_path(current_user) %>">Write a Topic</a>
                <a class="dropdown-item" href="<%= edit_user_path(current_user) %>">Settings</a>
            <div class="dropdown-divider"></div>
                <a class="dropdown-item" data-method="delete" href="<%= logout_path%>">Logout</a>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="<%= reading_list_path %>">Saved Reading</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0 background-sunshine color-sunshine border-sunshine" type="submit">Search</button>
    </form>
</div>
<% clear_flash %>