<!DOCTYPE html>
<html>
  <head>
    <title>OdinsEye</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('OE.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "rouge.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel|Cinzel|Titillium+Web|Oxygen|Source+Code+Pro" rel="stylesheet">
     <%= stylesheet_link_tag "custom.css" %>
  </head>

  <body class="bg-light-gp full-body">


    <div class="container">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-bluegray">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag "OE.png", width: 30, height: 30%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= navbar_buttons%>
      </nav>
    </div>


    <div class="container after-navbar main-container">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>

  <footer class="footer">
    <div class="row">
      <div class="col-sm-4">
        <p class="center footer-text">Odin's Eye <small class="faded-text">by ShuteApps</small></p>
      </div>
      <div class="col-sm-4">
        <%= link_to "", '#', class: 'footer-text'%>
      </div>
      <div class="col-sm-4">
        
      </div>
    </div>
    
  </footer>
</html>
