<!DOCTYPE html>
<html>
  <head>
    <title>OdinsEye</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('OE.png'), :rel => 'icon', :type =>  'image/png' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "custom.css" %>
    <%= stylesheet_link_tag "rouge.css" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel|Cinzel|Titillium+Web|Oxygen" rel="stylesheet">
  </head>

  <body class="bg-light-gp">


    <div class="container">
      <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-bluegray">
        <a class="navbar-brand" href="<%= root_path %>">
          <%= image_tag "OE.png", width: 30, height: 30%>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <%= navbar_buttons%>
      </nav>
    </div>


    <div class="container after-navbar">
      <div class="container">
        <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
